<section class="cards-container">

  <div id="cube_container">
    <ul class="card-list">

      <li class="card-item">
        <div id="cube">
          <div class="cube-heart">
            <i class="fa-solid fa-heart">
            </i>
          </div>
          <img [src]="src" alt="" height="120px" width="" class="cube-img" />
          <h3 class="cube-title">{{title}}</h3>
          <span class="cube-description">{{description}} </span>
          <div class="cube-rate">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <span>(500+)</span>
          </div>
          <div class="cube-price">
            <h4>R$ {{getFormattedPrice(price)}} </h4>
            <!-- (click)="addToCart(id)" -->
            <button class="add-to-cart-btn">{{id}} adicionar id</button>
          </div>
        </div>
      </li>

    </ul>
  </div>


</section>