<section class="cards-container">

  <h2 class="card-title"> Cubos</h2>
  <h3 class="card-subtitle">Destaques</h3>

  <div id="cube_container">
    <div id="cube">
      <div class="cube-heart">
        <i class="fa-solid fa-heart">
        </i>
      </div>
      <img src="assets\img\fellow_cube_classic_pro_43209497_1_20201005144432.webp" alt="" height="120px" width=""
        class="cube-img" />
      <h3 class="cube-title">CUBO 3 x 3</h3>
      <span class="cube-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsum molestiae
        reprehenderit </span>
      <div class="cube-rate">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <span>(500+)</span>
      </div>
      <div class="cube-price">
        <h4> R$ 129,00</h4>
        <button class="btn-default">
          <i class="fa-solid fa-basket-shopping"></i>
        </button>
      </div>
      <!-- teste cube 2 -->
    </div>
    <div id="cube">
      <div class="cube-heart">
        <i class="fa-solid fa-heart">
        </i>
      </div>
      <img src="assets\img\fellow_cube_classic_pro_43209497_1_20201005144432.webp" alt="" height="120px" width=""
        class="cube-img" />
      <h3 class="cube-title">CUBO 3 x 3</h3>
      <span class="cube-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsum molestiae
        reprehenderit </span>
      <div class="cube-rate">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <span>(500+)</span>
      </div>
      <div class="cube-price">
        <h4> R$ 129,00</h4>
        <button class="btn-default">
          <i class="fa-solid fa-basket-shopping"></i>
        </button>
      </div>
    </div>
    <!-- teste cube 3 -->

    <div id="cube">
      <div class="cube-heart">
        <i class="fa-solid fa-heart">
        </i>
      </div>
      <img src="assets\img\fellow_cube_classic_pro_43209497_1_20201005144432.webp" alt="" height="120px" width=""
        class="cube-img" />
      <h3 class="cube-title">CUBO 3 x 3</h3>
      <span class="cube-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsum molestiae
        reprehenderit </span>
      <div class="cube-rate">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <span>(500+)</span>
      </div>
      <div class="cube-price">
        <h4> R$ 129,00</h4>
        <button class="btn-default">
          <i class="fa-solid fa-basket-shopping"></i>
        </button>
      </div>
    </div>



  </div>




</section>