<header class="header" id="header">

  <nav class="navbar">
    <i class="fa-solid fa-cube" id="nav_logo"> CRAZYCUBE</i>

    <ul id="nav_list">
      <li class="nav-item active">
        <a routerLink='/'>Cubos</a>
      </li>
      <li class="nav-item">
        <a routerLink='/acessorios'>acessórios</a>
      </li>
      <li class="nav-item">
        <a routerLink='/puzzles'>puzzles</a>
      </li>

    </ul>
    <button class="btn-default">
      <i class="fa-solid fa-user"></i>
    </button>
    <button id="mobile_btn">
      <i class="fa-solid fa-bars"></i>
    </button>


  </nav>
  <div id="mobile_menu">
    <ul id="mobile_nav_list">
      <li class="nav-item">
        <a href="#">Cubos</a>
      </li>
      <li class="nav-item">
        <a href="#">acessórios</a>
      </li>
      <li class="nav-item">
        <a href="#">puzzles</a>
      </li>

    </ul>

  </div>
</header>