.header {
  width: 100%;
  padding: 28px 8%;
  background: linear-gradient(0deg, #ffffff 0%, rgb(2 1 15 / 80%) 100%);
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 48px;
}

.logo {
  width: 225px;
}

#nav_list {
  display: flex;
  list-style: none;
  gap: 48px;
  padding-right: 125px;
}

.nav-item a {
  text-decoration: none;
  font-size: 28px;
  color: #1d1d1dad;
  font-weight: 600;
}

.nav-item a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.nav-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #000;
  transition: width 0.3s;
}

.nav-item a:hover::after {
  width: 100%;
}

.nav-item.active a {
  color: #1d1d1d;
}

.nav-btns {
  display: flex;
  gap: 20px;
}

#mobile_btn {
  display: none;
}

#mobile_menu {
  display: none;
}

@media screen and (max-width: 700px) {
  #nav_list {
    display: none;
  }

  #mobile_btn {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #mobile_menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px;
  }

  #mobile_nav_list .nav-item {
    list-style: none;
    text-align: center;
  }
}
