<app-nav-bar />
<section class="shopping-cart">
  <h2 class="cart-title">Carrinho de Compras</h2>

  <ul class="cart-item-list">
    @for (item of getProduct(); track item) {

    <li class="cart-item">
      <img [src]="item.src" alt="img name" class="cart-item-image">
      <div class="cart-item-details">
        <h3 class="cart-item-name">{{item.title}}</h3>

        <div class="cart-item-price-container">
          <p class="cart-item-price">R$ {{getFormattedPrice(item.price)}} </p>
          <div class="quantity">
            <button class="minus">
              <i class="fa-solid fa-minus"></i>
            </button>
            <span>2</span>
            <button (click)="addProduct(item)" class="plus">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <button (click)="removeProduct(item)" class="remove-item-btn"><i class="fa-regular fa-trash-can"></i></button>
        </div>
      </div>
    </li>
    }
  </ul>

  <div class="cart-summary">
    <p>Total: R$ {{getFormattedPrice(getTotalPrice())}}</p>
    <button class="checkout-btn">Finalizar Compra</button>
  </div>
</section>